[user]
	email = agorokhov94@gmail.com
	name = Aleksandr Gorokhov
[core]
  editor = vim
	excludesfile = /Users/alenrig/.gitignore
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[push]
  default = simple
[pull]
  rebase = true
[includeIf "gitdir:~/code/work/"]
    path = ~/code/work/.gitconfig
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/alenrig/.stCommitMsg
